main{
    background-color: lightgrey;
    border-radius: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0,0,0,0.7);

}
#firstPart{
    text-align: center;
    font-size: larger;
    margin-top: 1em;
    padding: 1em;
}
#imageDiv{
    max-width: 100%;
    margin: auto;
    background-color: white;
    text-align: center;
}
#image{
    width: 70%;
    padding-top: 2em;
    object-fit: contain;
    filter: grayscale(100%);
}
#img-caption{
    padding: 1em;
}

#tribute-info{
    text-align: center;
    width: 45%;
    margin: auto;
}

#foot{
    font-size: larger;
}
